<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero">
        <nav>
            {{#if loggedIn}}
            <h3><button class="btn logout">logout</button></h3>
            {{else}}
            <h3><a class="btn" href="/login">login</a></h3>
            {{/if}}
        </nav>
      <h1 class="app-title">
        The Tech Blog
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>


</html>